[Unit]
Description=SMS Forwarder (using ModemManager)
After=dbus.service ModemManager.service
Wants=ModemManager.service

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/usr/local/bin/smsforwarder -c /etc/smsforwarder/config.yml

[Install]
WantedBy=multi-user.target
